################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SolutionE-RH_v1.5/.vs/SolutionE-RH_v1.5/v15/Server/sqlite3
